body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70%;
    height: 70%;
    background-color: grey;
    border: 5px solid #000;
    box-shadow: 0 0 10px #000;
}
.disc {
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    background: black
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes scratch {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}